/* Website styles*/
:root{
    --color-green:#55c57a;
    --color-green-light:#7ed56f;
    --color-green-dark:#28b485 ;
    --color-silver:#e4e7ea ;
    --color-white:#fff;
    --color-black:#000 ;
}
html{
    font-size:10px;
    font-weight: 400;
}

body{
    font-family: "Poppins",sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
label{
    font-size: 1.1rem;
}
.signup-container{
    display: flex;
    display: -webkit-flex;
    width: 100%;
    height: 100vh;
}
.signup-left{
    width: 70%;
    position: relative;
    background-image: linear-gradient(to right bottom,rgba(40,180,133,.9) 50%, transparent 50%),url("../images/signup-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.signup-right{
    width: 30%;
    background: var(--color-white);
    position: relative;
}
.title{
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color:var(--color-white);

}
.title h1{
    border-bottom:1px solid var(--color-silver);
}
.title p{
    margin-left: 2rem;
}

#signup-form{
    display: none;
}

.form-area{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.group{
    margin-bottom: 1.5rem;
}
.control{
    width: 100%;
    display: block;
    padding: 1.1rem 1rem;
    border-radius: 3px;
    border: 1px solid var(--color-silver);
    transition: all 1s;
}
.control:focus{
    outline: none;
    border:1px solid var(--color-green-dark);
}
.file{
    display: none;
}
#img-label:hover{
    cursor: pointer;
}
#img-label{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#preview-img{
    width: 100px;
    height: 100px;
    border: 2px solid var(--color-silver);
    border-radius: 50%;
}
.btn{
    display: block;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 1.2rem .9rem;
    border: 0;
    border-radius: 3rem;
    color: var(--color-white);
}
.signup-btn{
    width: 100%;
    background: linear-gradient(to right ,var(--color-green-light),var(--color-green-dark));
    box-shadow: 0 .8rem .6rem -.6rem rgba(0,0,0,1) ;
}
.signup-btn:hover{
    cursor: pointer;
}
.form-heading{
    font-size: 2rem;
    letter-spacing: .3rem;
    color: var(--color-silver);
}
.login-link{
    font-size: 1.5rem;
    text-decoration: none;
    color: #999999;
    font-weight: 300;
}
.login-link:hover{
    cursor: pointer;
}
@media(max-width: 750px)  {
    .signup-left{
        display: none;
    }
    .signup-right{
        width: 100%;
    }

}