/* Website styles*/
:root{
    --color-green:#55c57a;
    --color-blue-light:#00B2EE;
    --color-blue-dark:#539DC2 ;
    --color-silver:#e4e7ea ;
    --color-silver2:#54667a ;
    --color-silver3:#f1f1f1;
    --color-white:#fff;
    --color-black:#000 ;
}
html{
    font-size:10px;
    font-weight: 400;
}

body{
    font-family: "Poppins",sans-serif;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
label{
    font-size: 1.5rem;
}

.signup-container{
    display: flex;
    display: -webkit-flex;
    width: 100%;
    height: 100vh;
}
.signup-left{
    width: 70%;
    position: relative;
    background-image: linear-gradient(to right bottom,rgba(83,157,194,.7) 50%, transparent 50%),url("../images/signup-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.signup-right{
    width: 30%;
    background: var(--color-white);
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}
.title{
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color:var(--color-white);

}
.title h1{
    border-bottom:1px solid var(--color-silver);
}
.title p{
    margin-left: 2rem;
}

#signup-form{
    display: none;
}

.form-area{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.group{
    margin-bottom: 1.5rem;
}
.control{
    width: 100%;
    display: block;
    padding: 1.1rem 1rem;
    border-radius: 3px;
    border: 1px solid var(--color-silver);
    transition: all 1s;
}
.control:focus{
    outline: none;
    border:1px solid var(--color-blue-dark);
}
.file{
    display: none;
}
#img-label:hover{
    cursor: pointer;
}
#img-label{

    width:  100px;
    height: 100px;
    border-radius: 50%;
}

#preview-img{
    width: 100px;
    height: 100px;
    border: 2px solid var(--color-silver);
    border-radius: 50%;
}
.btn{
    display: block;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 1.2rem .9rem;
    border: 0;
    border-radius: 3rem;
    color: var(--color-white);
}
.signup-btn{
    width: 100%;
    background: linear-gradient(to right ,var(--color-blue-light),var(--color-blue-dark));
    box-shadow: 0 .8rem .6rem -.6rem rgba(0,0,0,1) ;
}
.signup-btn:hover{
    cursor: pointer;
}

.form-heading{
    font-size: 2rem;
    letter-spacing: .3rem;
    color: var(--color-silver);
}
.login-link{
    font-size: 1.5rem;
    text-decoration: none;
    color: #999999;
    font-weight: 300;
}
.login-link:hover{
    cursor: pointer;
}
/* Home design of chat*/
#nav{
    width: 100%;
    height: 10vh;
    background: linear-gradient(to right , var(--color-blue-light),var(--color-blue-dark));
    box-shadow: .3rem .8rem .5rem 0 rgba(0,0,0,.2);
    position: relative;
}

.custom-bar-icon{
    text-align: center;
    position: absolute;
    right: 2rem;
    top: 25%;
    width: 3rem;
    height: 3rem;
    display: none;
}
.custom-bar-icon:hover{
    cursor: pointer;
}
.menu-icon{
    width: 3rem;
    height: 3rem;
}
.chat-container{
    display: flex;
    display: -webkit-flex;
    width: 100%;
    height: 90vh;
    overflow-x: hidden ;
}
#chat-left-area{
    width: 25%;
    box-shadow: .3rem 0 .5rem  0 rgba(0,0,0,.5);
    background: var(--color-white);
    /*position: relative; unused because overflow  property is used */
    overflow: auto;

}
#chat-left-area::before{
    position: absolute;
    content: "Profile";
    width: 25%;  /*25% because parent class position is not relative  */
    height: 10vh;
    top: 0;
    text-align: center;
    box-shadow: .3rem .8rem .5rem 0 rgba(0,0,0,.2);
    background: linear-gradient(to right , var(--color-blue-light),var(--color-blue-dark));
    line-height: 10vh;
    font-size: 1.5rem;
    color: var(--color-white);
    font-weight: 500;

}
#chat-right-area{
    width: 75%;
    height: 90vh;

}
.profile-info{
    width: 100%;
    margin: 2rem 0;
    text-align: center;
    font-size: 1.5rem;
}
.profile-info ul li{
    display: block;
    font-size: 1.5rem;
    padding-top:1rem;
    color: var(--color-silver2);
    font-weight: 500;
}
.profile-settings{
    width: 100%;
    text-align: center;
    margin: 1rem 0;

}
.profile-settings h1{
    color: var(--color-silver2);
    font-size: 1.5rem;
    line-height: 10vh;

}
.profile-settings h1:hover{
    cursor: pointer;
    background: linear-gradient(to right , var(--color-blue-light),var(--color-blue-dark));

}

.ul-settings{
    list-style: none;
    width: 100%;
    text-align: center;
    display: none;
}
.ul-settings li a{
    text-decoration: none;
    display: block;
    font-size: 1.5rem;
    padding:1.5rem 0;
    color: var(--color-silver2);
    font-weight: 500;
    position: relative;
}
.ul-settings li:hover {
    background: linear-gradient(to right , var(--color-blue-light),var(--color-blue-dark));

}
.back-hover{
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: rgba(0,0,0,.2);
    transition: all .3s;
    position: absolute;
}
.ul-settings li a:hover{
    color: var(--color-white);
}
.ul-settings li a:hover .back-hover{
    width: 100%;
}

.profile-img-span{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
}
.profile-img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    transition: all .5s;
}

#change_photo_shadow{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    position: absolute;
    color: var(--color-blue-dark);
    font-size: 1.7rem;
    font-weight: 500;
    text-align: center;
    line-height: 10rem;
    background-color: rgba(0,0,0,.3);
    display: none;
}
#change_photo_shadow:hover{
    cursor: pointer;
}
#perview_photo_area{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,.2);
    z-index: 1;
    text-align: center;
    display: none;
}
.preview-img{
    margin-top: 5rem;
    width: 80%;
    height: 80%;
}
.chat-messages{
    width: 100%;
    height: 75vh;
    padding: 2rem;
    overflow: auto;
}
.left-message-area{
    display: flex;
    display: -webkit-flex;

}
.sender-img-block{
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    position: relative;
}

.sender-img{
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
}
.online-icon{
    position: absolute;
    background-color: var(--color-blue-light);
    display: block;
    top: .5rem;
    right: 1rem;
    border-radius: 50%;
    border: 1px solid var(--color-white);
    width: 1rem;
    height: 1rem;
}
.offline-icon{
    position: absolute;
    background-color: red;
    display: block;
    top: .5rem;
    right: 1rem;
    border-radius: 50%;
    border: 1px solid var(--color-white);
    width: 1rem;
    height: 1rem;
}

.left-message{
    margin: 1rem;
    max-width: 50%;
    width: auto;
}

.sender-name{
    color: var(--color-silver2);
    font-size: 1.5rem;
    font-weight: 500;
}
.message-time{
    font-size: 1.2rem;
    margin-left: 4rem;
}
.left-message-content{
    padding: .8rem;
    color: var(--color-white);
    font-size: 1.5rem;
    background:linear-gradient(to right,var(--color-blue-light),var(--color-blue-dark));
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius:  2rem;
    position: relative;
}
.left-message-content::before{
    position: absolute;
    content: "";
    top: 0;
    width: 0;
    height: 0;
    left: -.9rem;
    border-top: .9rem solid var(--color-blue-light);
    border-left:.9rem solid transparent ;
}
.right-message-area{
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
}
.right-message{
        max-width: 50%;
        width: auto;
        margin: 1rem;
}
.right-sender-name-date{
    text-align: right;
}
.right-message-content{
    width: auto;
    padding: .8rem;
    color: var(--color-black);
    font-size: 1.5rem;
    background-color:var(--color-silver3);
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius:  2rem;
    position: relative;
}
.right-message-content::before{
    position: absolute;
    content: "";
    top: 0;
    width: 0;
    height: 0;
    right: -.9rem;
    border-top: .9rem solid var(--color-silver3);
    border-right:.9rem solid transparent ;
}

.chat-form-area{
    width: 100%;
    height: 10vh;
}
.chat-form-container{
    width: 100%;
    height: 10vh;
    border-top: 2px solid var(--color-silver);
    padding: .5rem   ;
    display: flex;
    display: -webkit-flex;
}
.text-area-controller{
    width: 50%;
}
.message-textarea{
    width: 100%;
    padding: .5rem;
    height: 4rem;
    resize: none;
    border: 1px solid var(--color-silver);
    border-radius: 3px;
    transition: all 1s;
}
.message-textarea:focus{
    outline: none;
    border:1px solid var(--color-blue-light);
    /*border-radius: 3px;*/
}
.chat-file-upload{
    width: 50%;
    padding-top: .5rem;
    text-align: left;
}
.file-upload-icon{
    height: 3rem;
    margin-left:3rem ;
    width: 3rem;
}
#chat-file-upload{
    display: none;
}
.emojes{
    width: 100%;
    height: 5vh;
    padding: .3rem;
}
.emoje-img{
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
}
.change-form-area{
    padding: 2rem;
}
.change-form{
    width: 40%;
}
.alert{
    width: 100%;
    height: auto;
    text-align: left;
    padding: 0 1rem;
    font-size: 1.5rem;
    border-radius: 4px;
    margin-bottom: 1rem;
    color: white;
    line-height: 35px;
}
.success-alert{
    background-color: var(--color-blue-light);
}
.danger-alert{
    background-color: #d9534f;
}
::-webkit-input-placeholder{
    font-size: 1.5rem;
    font-family: "Poppins",sans-serif;
    letter-spacing: .3rem;
}
/* width  scrollbar*/
::-webkit-scrollbar {
    width: 10px;
    background-color: var(--color-silver);
}
::-webkit-scrollbar-thumb {
    background: var(--color-silver2);
    border-radius: 10px;
}
@media(max-width: 800px)  {
    .chat-container{
        flex-wrap: wrap;
    }
    .signup-left{
        display: none;
    }
    .signup-right{
        width: 100%;
    }
    .change-form{
        width: 100%;
    }
    .custom-bar-icon{
        display: block;
    }
    #chat-left-area{
        width: 100%;
        display: none;

    }
    #chat-left-area::before{
        display: none;
    }

    #chat-right-area{
        width: 100%;

    }
    .chat-messages{
        height: 70vh;
    }
    .left-message{
        max-width: 100%;
    }
    .right-message{
        max-width: 100%;
    }
    .chat-file-upload{
        text-align: right;
    }
    .text-area-controller{
        width: 90%;
    }
    .file-upload-icon{
        margin: 0;
    }

}
